<!-- Carousel
================================================== -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img width="100%" src="http://www.videojet.com/content/dam/img/website-images/wb-7510-us.jpg" alt="opa1">
            <div class="carousel-caption">
                <h3>Новый 50Вт оптоволоконный лазер</h3>
                <button type="button" class="btn btn-sm btn-primary" href="getSome">Читать подробнее...</button>
            </div>
        </div>
        <div class="item">
            <img width="100%" src="http://www.videojet.com/content/dam/img/Hero%201060/8610-hero-1060x390-.jpg" alt="opa2">
            <div class="carousel-caption">
                <h3>Инновационная система термоструйной маркировки… простота и универсальность</h3>
                <button type="button" class="btn btn-sm btn-primary" href="getSome">Читать подробнее...</button>
            </div>
        </div>
        <div class="item">
            <img width="100%" src="http://www.videojet.com/content/dam/img/Hero%201060/CLARiSUITE%20Web%20banner%201060x390.jpg" alt="opa2">
            <div class="carousel-caption">
                <h3>Уверенность в правильности маркировки. Для любого продукта</h3>
                <button type="button" class="btn btn-sm btn-primary" href="getSome">Читать подробнее...</button>
            </div>
        </div>
        <div class="item">
            <img width="100%" src="http://www.videojet.com/content/dam/img/Hero%201060/BALDR%20web%20banner%20-%20background%20-%201060x390.jpg" alt="opa2">
            <div class="carousel-caption">
                <h3>Маркируйте качественнее благодаря новым лазерным системам Videojet</h3>
                <button type="button" class="btn btn-sm btn-primary" href="getSome">Читать подробнее...</button>
            </div>
        </div>
        <div class="item">
            <img width="100%" src="http://www.videojet.com/content/dam/img/Hero%201060/1620uhs-VJT_158.png" alt="opa2">
            <div class="carousel-caption">
                <h3>Новые сверхскоростные принтеры</h3>
                <button type="button" class="btn btn-sm btn-primary" href="getSome">Читать подробнее...</button>
            </div>
        </div>
        <div class="item">
            <img width="100%" src="http://www.videojet.com/content/dam/img/Hero%201060/1550-1650-codeassurance-brochure.png" alt="opa2">
            <div class="carousel-caption">
                <h3>Печатающая головка CleanFlow™ работает дольше</h3>
                <button type="button" class="btn btn-sm btn-primary" href="getSome">Читать подробнее...</button>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <button type="button" class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button type="button" class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
</div>
<!-- /.carousel -->


<form class="search-sm visible-sm visible-xs" method="get" action="">
    <input type="text" class="form-control" placeholder="Поиск" name="s">
</form>




<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Добро пожаловать на страничку ТОО UNCO JET
            </h1>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-rocket"></i>ИННОВАЦИЯ В КАПЛЕСТРУЙНОЙ ПЕЧАТИ</h4>
                </div>
                <div class="panel-body">
                    <p>Новые принтеры Videojet 1550/1650 разработаны для решения актуальных производственных задач. Сведите к минимуму простои, легко интегрируйте принтер в линию, а также сократите техническое обслуживание.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-bullseye"></i> ВСЕГДА ПРАВИЛЬНАЯ МАРКИРОВКА</h4>
                </div>
                <div class="panel-body">
                    <p>Ознакомьтесь с системой Code Assurance на оборудовании Videojet и убедитесь, что на вашей продукции применяется верная маркировка.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gears"></i>ЗАПРОС ОБСЛУЖИВАНИЯ НА ПРОИЗВОДСТВЕ</h4>
                </div>
                <div class="panel-body">
                    <p>Нужен технический специалист? Подайте заявку на техническую поддержку специалистами Videojet на вашем производстве.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->



        <!--<div class="thumbnails col-md-12 col-sm-12">-->

            <!--<div ng-show="equipmentsFirst.length==3" data-ng-repeat="equipment in equipmentsFirst" class="col-sm-4 col-md-4 text-center">-->
                <!--<div class="thumbnail">-->
                    <!--<img ng-show="equipment.photo" ng-src="/uploaded/mini_{{equipment.photo}}" alt="mini_{{equipment.title}}">-->
                    <!--<div class="caption">-->
                        <!--<a ng-href="/itemEquipment{{equipment.title}}" class="noStyle">-->
                            <!--<h3>{{equipment.title}}</h3>-->
                            <!--<p>{{equipment.about}}</p>-->
                            <!--<p class="visible-xs"><a ng-href="/itemEquipment{{equipment.title}}" class="btn btn-info" role="button">Читать подробнее</a></p>&lt;!&ndash;Menu link&ndash;&gt;-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div ng-show="equipmentsFirst.length==2" data-ng-repeat="equipment in equipmentsFirst" class="col-sm-6 col-md-6 text-center">-->
                <!--<div class="thumbnail">-->
                    <!--<img ng-show="equipment.photo" ng-src="/uploaded/mini_{{equipment.photo}}" alt="mini_{{equipment.title}}">-->
                    <!--<div class="caption">-->
                        <!--<a ng-href="/itemEquipment{{equipment.title}}" class="noStyle">-->
                            <!--<h3>{{equipment.title}}</h3>-->
                            <!--<p>{{equipment.about}}</p>-->
                            <!--<p class="visible-xs"><a ng-href="/itemEquipment{{equipment.title}}" class="btn btn-info" role="button">Читать подробнее</a></p>&lt;!&ndash;Menu link&ndash;&gt;-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div ng-show="equipmentsFirst.length==1" data-ng-repeat="equipment in equipmentsFirst" class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3 text-center">-->
                <!--<div class="thumbnail">-->
                    <!--<img ng-show="equipment.photo" ng-src="/uploaded/mini_{{equipment.photo}}" alt="mini_{{equipment.title}}">-->
                    <!--<div class="caption">-->
                        <!--<a ng-href="/itemEquipment{{equipment.title}}" class="noStyle">-->
                            <!--<h3>{{equipment.title}}</h3>-->
                            <!--<p>{{equipment.about}}</p>-->
                            <!--<p class="visible-xs"><a ng-href="/itemEquipment{{equipment.title}}" class="btn btn-info" role="button">Читать подробнее</a></p>&lt;!&ndash;Menu link&ndash;&gt;-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


            <!--<div ng-show="equipmentsSecond.length==3" data-ng-repeat="equipment in equipmentsSecond" class="col-sm-4 col-md-4 text-center">-->
                <!--<div class="thumbnail">-->
                    <!--<img ng-show="equipment.photo" ng-src="/uploaded/mini_{{equipment.photo}}" alt="mini_{{equipment.title}}">-->
                    <!--<div class="caption">-->
                        <!--<a ng-href="/itemEquipment{{equipment.title}}" class="noStyle">-->
                            <!--<h3>{{equipment.title}}</h3>-->
                            <!--<p>{{equipment.about}}</p>-->
                            <!--<p class="visible-xs"><a ng-href="/itemEquipment{{equipment.title}}" class="btn btn-info" role="button">Читать подробнее</a></p>&lt;!&ndash;Menu link&ndash;&gt;-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div ng-show="equipmentsSecond.length==2" data-ng-repeat="equipment in equipmentsSecond" class="col-sm-6 col-md-6 text-center">-->
                <!--<div class="thumbnail">-->
                    <!--<img ng-show="equipment.photo" ng-src="/uploaded/mini_{{equipment.photo}}" alt="mini_{{equipment.title}}">-->
                    <!--<div class="caption">-->
                        <!--<a ng-href="/itemEquipment{{equipment.title}}" class="noStyle">-->
                            <!--<h3>{{equipment.title}}</h3>-->
                            <!--<p>{{equipment.about}}</p>-->
                            <!--<p class="visible-xs"><a ng-href="/itemEquipment{{equipment.title}}" class="btn btn-info" role="button">Читать подробнее</a></p>&lt;!&ndash;Menu link&ndash;&gt;-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div ng-show="equipmentsSecond.length==1" data-ng-repeat="equipment in equipmentsSecond" class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3 text-center">-->
                <!--<div class="thumbnail">-->
                    <!--<img ng-show="equipment.photo" ng-src="/uploaded/mini_{{equipment.photo}}" alt="mini_{{equipment.title}}">-->
                    <!--<div class="caption">-->
                        <!--<a ng-href="/itemEquipment{{equipment.title}}" class="noStyle">-->
                            <!--<h3>{{equipment.title}}</h3>-->
                            <!--<p>{{equipment.about}}</p>-->
                            <!--<p class="visible-xs"><a ng-href="/itemEquipment{{equipment.title}}" class="btn btn-info" role="button">Читать подробнее</a></p>&lt;!&ndash;Menu link&ndash;&gt;-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->



    </div>
    <!-- /.row -->



<!-- Portfolio Section -->
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">Акции компании:</h2>
    </div>
    <div ng-repeat="action in actions">
        <div style="clear: both">
            <h3 class="text-center">{{action.title}}</h3>
        </div>

        <div class="col-md-6 col-md-offset-3" style="height: 305px">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in action.pictures track by $id(slide)" active="slide.active">
                    <img class="img-responsive" ng-src="/uploaded/{{slide}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                    </div>
                </slide>
            </carousel>
        </div>
        <!--<h3 class="text-center">{{action.title}}</h3>-->
        <!--&lt;!&ndash;Carousel of Actions&ndash;&gt;-->
        <!--<div>-->
            <!--<div id="carousel-action{{action.title}}" class="col-md-6 col-md-offset-3 carousel slide" data-ride="carousel">-->
                <!--&lt;!&ndash; Indicators &ndash;&gt;-->
                <!--<ol class="carousel-indicators">-->
                    <!--<li ng-repeat="pic in action.pictures track by $id(pic)" data-target="#carousel-action{{action.title}}" data-slide-to="{{action.pictures.indexOf(pic)}}" ng-class="{active:action.pictures.indexOf(pic)==0}"></li>-->
                <!--</ol>-->




                <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
                <!--<div class="carousel-inner" role="listbox">-->
                    <!--<div class="item" ng-class="{active:action.pictures.indexOf(pic)==0}" data-ng-repeat="pic in action.pictures track by $id(pic)">-->
                        <!--<img class="img-responsive" ng-src="/uploaded/{{pic}}" alt="opa2">-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Controls &ndash;&gt;-->
                <!--<button class="left carousel-control" href="#carousel-action{{action.title}}" role="button" data-slide="prev">-->
                    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                <!--</button>-->
                <!--<button class="right carousel-control" href="#carousel-action{{action.title}}" role="button" data-slide="next">-->
                    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                <!--</button>-->
            <!--</div>-->
        <div class="aboutAction col-md-6 col-md-offset-3 well" ng-class="{aboutActionFirst:actions.indexOf(action)==0}">
            <h4>{{action.about}}</h4>
        </div>
        </div>



    </div>
</div>








    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">ТОО UNCO JET</h2>
            <h3>Отдавая предпочтение инновационным технологиям.</h3>
        </div>
        <div class="col-md-6 about">
            <p>Преимущества работы с нами:</p>
            <ul>
                <li><strong>Новейшие технологии в нанесении маркировки и этикетировании</strong>
                </li>
                <li><strong>Высоко квалифицированные специалисты</strong></li>
                <li>Наличие расходных материалов и запасных частей на складе в г.Алматы</li>
                <li>Готовые решения для интеграции оборудования на производственные площадки</li>
                <li>Пробное тестрование на предприятии</li>
                <li>Выезд специалиста на техническое обслуживание в кротчайшие сроки</li>
                <li>Гибкая система оплаты и скидок</li>
            </ul>
        </div>
        <div class="col-md-6">
            <a href="/img/cert.png" data-lightbox="cert" target="_blank">
                <img class="img-responsive img-thumbnail col-md-6 col-md-offset-6" src="/img/cert.png" alt="Certificate">
            </a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <!--<div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
            </div>
        </div>
    </div>-->
</div>